<!doctype html>
<html>
  <body>
    <h1>Preview</h1>
    {% if events %}
      <form action="{{ url_for('sync') }}" method="post">
        <ul>
        {% for e in events %}
          <li>
            <strong>{{ e.title }}</strong> — {{ e.date }} {{ e.time or '' }} <br/>
            {{ e.description }}
          </li>
        {% endfor %}
        </ul>

        <p>
         <button type="submit">Sync to Google Calendar</button>
         <a href="{{ url_for('authorize') }}">Connect Google Account (if not connected)</a>
        </p>
      </form>
    {% else %}
      <p>No events parsed yet. <a href="{{ url_for('index') }}">Upload</a></p>
    {% endif %}
  </body>
</html>
